Q 2 Consider the following DataFrame EXERCISE to answer the given questions
where ‘Kind’ attribute indicates the type of exercise regime followed.

ID Name Diet Pulse
Time
(min) Kind
0 A low fat 85 40 walking
1 A low fat 85 45 walking
2 A no fat 88 30 running
3 B no fat 90 10 walking
4 B no fat 92 15 rest
5 B low fat 93 30 rest
6 C low fat 97 15 rest
7 C low fat 97 15 rest
8 C low fat 94 30 walking
9 D low fat 80 10 walking
10 D low fat 82 15 rest
11 D low fat 83 30 rest
12 E no fat 91 10 rest
13 E low fat 92 15 running
14 E low fat 91 30 running

a) Create a new DataFrame SELECTED having a hierarchical index on
columns “Name” and “Diet”. Then, find the maximum pulse rate for each
individual in the SELECTED DataFrame.

b) Count the total number of records of individuals having names ‘A’ or ‘B’
and who are following a low fat diet plan from the data frame SELECTED
created in part (a). Also, sort DataFrame SELECTED on index at first
level in descending order.

c) Using DataFrame EXERCISE, create a figure with two subplots and save
the figure with the name ‘exerciseplot.jpeg’. Set title of the figure as
‘EXERCISE’. First subplot compares the average pulse rate of individuals
and the second subplot shows the relationship between variables ‘Pulse’
and ‘Time’. Do color encoding using variable ‘kind’ in the scatter plot.

### a) Create a new DataFrame SELECTED having a hierarchical index on columns “Name” and “Diet”. Then, find the maximum pulse rate for each individual in the SELECTED DataFrame.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('database.csv',skipinitialspace=True)
df
SELECTED=df.set_index(['Name','Diet'])
SELECTED

              ID  Pulse  Time(min)     Kind
Name Diet
A    low fat   0     85         40  walking
     low fat   1     85         45  walking
     no fat    2     88         30  running
B    no fat    3     90         10  walking
     no fat    4     92         15     rest
     low fat   5     93         30     rest
C    low fat   6     97         15     rest
     low fat   7     97         15     rest
     low fat   8     94         30  walking
D    low fat   9     80         10  walking
     low fat  10     82         15     rest
     low fat  11     83         30     rest
E    no fat   12     91         10     rest
     low fat  13     92         15  running
     low fat  14     91         30  running

In [3]:
#SELECTED['Pulse'].max(level='Name') //deprecated and will be removed in a future version.
SELECTED['Pulse'].groupby(level=0).max()

Name
A    88
B    93
C    97
D    83
E    92
Name: Pulse, dtype: int64

### b) Count the total number of records of individuals having names ‘A’ or ‘B’ and who are following a low fat diet plan from the data frame SELECTED created in part (a). Also, sort DataFrame SELECTED on index at first level in descending order.

In [23]:
obj=SELECTED.loc[[("A",'low fat'),('B','low fat')]]
obj

              ID  Pulse  Time(min)     Kind
Name Diet
A    low fat   0     85         40  walking
     low fat   1     85         45  walking
B    low fat   5     93         30     rest

In [19]:
obj.shape[0]

3

In [25]:
SELECTED.sort_index(level=1)

              ID  Pulse  Time(min)     Kind
Name Diet
A    low fat   0     85         40  walking
     low fat   1     85         45  walking
B    low fat   5     93         30     rest
C    low fat   6     97         15     rest
     low fat   7     97         15     rest
     low fat   8     94         30  walking
D    low fat   9     80         10  walking
     low fat  10     82         15     rest
     low fat  11     83         30     rest
E    low fat  13     92         15  running
     low fat  14     91         30  running
A    no fat    2     88         30  running
B    no fat    3     90         10  walking
     no fat    4     92         15     rest
E    no fat   12     91         10     rest