Q4 Using the data frame EXERCISE provided in Q2 , attempt the following
questions
a) What is a map function? Use map function to convert all values in the
‘Diet’ attribute to uppercase.
b) Assuming the data is stored in a csv file “Exercise.csv”, give appropriate
commands to read this file, indexed on ‘Name’ and ‘Diet’ into a dataframe
named EXERCISE. Modify this command to read only the first 5 rows of
the file. If the file contains millions of records then give the command to
read the file in small pieces of uniform size.
c) Differentiate between qcut and cut methods. Use the appropriate method to
create 4 bins on the ‘Pulse’ attribute. Store the corresponding bin value of
‘Pulse’ attribute as a new attribute ‘Pbin’ in the original DataFrame.
Display the count of values of each bin.

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('database.csv',skipinitialspace=True)
df

    ID Name     Diet  Pulse  Time(min)     Kind
0    0    A  low fat     85         40  walking
1    1    A  low fat     85         45  walking
2    2    A   no fat     88         30  running
3    3    B   no fat     90         10  walking
4    4    B   no fat     92         15     rest
5    5    B  low fat     93         30     rest
6    6    C  low fat     97         15     rest
7    7    C  low fat     97         15     rest
8    8    C  low fat     94         30  walking
9    9    D  low fat     80         10  walking
10  10    D  low fat     82         15     rest
11  11    D  low fat     83         30     rest
12  12    E   no fat     91         10     rest
13  13    E  low fat     92         15  running
14  14    E  low fat     91         30  running

### a)
What is a map function? Use map function to convert all values in the
‘Diet’ attribute to uppercase.

In [5]:
def upper_case(x):
    return x.upper()

df['Diet'].map(upper_case)

0     LOW FAT
1     LOW FAT
2      NO FAT
3      NO FAT
4      NO FAT
5     LOW FAT
6     LOW FAT
7     LOW FAT
8     LOW FAT
9     LOW FAT
10    LOW FAT
11    LOW FAT
12     NO FAT
13    LOW FAT
14    LOW FAT
Name: Diet, dtype: object

### b
b) Assuming the data is stored in a csv file “Exercise.csv”, give appropriate
commands to read this file, indexed on ‘Name’ and ‘Diet’ into a dataframe
named EXERCISE. Modify this command to read only the first 5 rows of
the file. If the file contains millions of records then give the command to
read the file in small pieces of uniform size.

In [13]:
df=pd.read_csv('database.csv',skipinitialspace=True,index_col=["Name",'Diet'])
df

              ID  Pulse  Time(min)     Kind
Name Diet
A    low fat   0     85         40  walking
     low fat   1     85         45  walking
     no fat    2     88         30  running
B    no fat    3     90         10  walking
     no fat    4     92         15     rest
     low fat   5     93         30     rest
C    low fat   6     97         15     rest
     low fat   7     97         15     rest
     low fat   8     94         30  walking
D    low fat   9     80         10  walking
     low fat  10     82         15     rest
     low fat  11     83         30     rest
E    no fat   12     91         10     rest
     low fat  13     92         15  running
     low fat  14     91         30  running

In [14]:
df.head()

              ID  Pulse  Time(min)     Kind
Name Diet
A    low fat   0     85         40  walking
     low fat   1     85         45  walking
     no fat    2     88         30  running
B    no fat    3     90         10  walking
     no fat    4     92         15     rest

In [16]:
size=10# specific the size to use
chunker=pd.read_csv('database.csv',skipinitialspace=True,index_col=["Name",'Diet'],chunksize=size)

### C
Differentiate between qcut and cut methods. Use the appropriate method to
create 4 bins on the ‘Pulse’ attribute. Store the corresponding bin value of
‘Pulse’ attribute as a new attribute ‘Pbin’ in the original DataFrame.
Display the count of values of each bin.

In [26]:
#pd.cut(,4)
df=pd.read_csv('database.csv',skipinitialspace=True)
Pbin=pd.cut(df["Pulse"],4)
Pbin

0       (84.25, 88.5]
1       (84.25, 88.5]
2       (84.25, 88.5]
3       (88.5, 92.75]
4       (88.5, 92.75]
5       (92.75, 97.0]
6       (92.75, 97.0]
7       (92.75, 97.0]
8       (92.75, 97.0]
9     (79.983, 84.25]
10    (79.983, 84.25]
11    (79.983, 84.25]
12      (88.5, 92.75]
13      (88.5, 92.75]
14      (88.5, 92.75]
Name: Pulse, dtype: category
Categories (4, interval[float64, right]): [(79.983, 84.25] < (84.25, 88.5] < (88.5, 92.75] < (92.75, 97.0]]

In [27]:
pd.value_counts(Pbin)

(88.5, 92.75]      5
(92.75, 97.0]      4
(79.983, 84.25]    3
(84.25, 88.5]      3
Name: Pulse, dtype: int64